<div class="jumbotron home-jumbo-one landing-img text-center">
  <h1>Blazar</h1>
  <h3>A new kind of contracting.</h3>
  <div class="btn-group inline">
    <%= link_to 'vendors', "/", class: "btn btn-warning" %>
    <%= link_to 'customers', "/", class: "btn btn-blue" %>
  </div>
</div>
<div class="container">
</div>
